<!DOCTYPE html>
    <html lang="en">
        <%- include('../templates/head.ejs') -%>
    <body class="bg-primary">
		<%- include('../templates/header.ejs') -%>

        <div class="banner position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center text-white bg-light">
          <div class="col-md-5 mx-auto">
            <h1 class="display-4 font-weight-bold">Hamburguers</h1>
            <p class="lead font-weight-normal">Mouth-watering burgers! Quality is our recipe.</p>
          </div>
		</div>

        <div class="container-fluid">
			<div class="row mt-3">
				<div class="col"></div>
				<div class="col-7 row justify-content-around">

					<div class="card mb-3 mt-4 text-white bg-dark mb-3">
						<div class="row no-gutters">
						  <div class="col-md-4">
							<img src="/public/images/products/<%= product[0].id %>-1.jpg" class="card-img" alt="product photo">
						  </div>
						  <div class="col-md-8">
							<div class="card-body">
								<h1 class="card-title"><%= product[0].title %></h1>
									<p class="card-text"><%= product[0].description %></p>
									<p class="card-text">
										<% for (let i = 0; i < product.length; i++) { %>
											<p>SIZE: <%= product[i].size %>-<%= product[i].price %>-<%= product[i].stock %></p>
										<% } %>
									</p>
							</div>
						  </div>
						</div>
					</div>

				</div>
				<div class="col"></div>
			</div>
        </div>
    </body>
</html>