extends layout/main.pug

append content
    h2.col-12.mt-5 Edit : #{productSizes[0].title}
    hr
    form(method="POST" action="/dashboard/product/save" enctype="multipart/form-data")
        .row.justify-content-center.mt-5
                input(type="hidden" value=productSizes[0].id name="id")
                table.table.col-10
                    h2.col-12.text-center General information
                    thead
                        tr
                        th(scope='col') Image 1
                        th(scope='col') Image 2
                        th(scope='col') Image 3
                        th(scope='col') Title
                        th(scope='col') Description
                    tbody
                        tr
                        td
                            label(for="img1", role="button")
                                - var img1 = "/public/images/products/"+productSizes[0].id+"-1.jpg"
                                img(src=img1).img-table.img-thumbnail
                            input(name="img" id="img1" type="file" accept="image/jpeg").d-none
                            input(type="checkbox" name="img1").ml-1
                        td
                            label(for='img2', role="button")
                                - var img2 = "/public/images/products/"+productSizes[0].id+"-2.jpg"
                                img(src=img2).img-table.img-thumbnail
                            input(name='img' id='img2' type="file" accept="image/jpeg").d-none
                            input(type="checkbox" name="img2").ml-1
                        td
                            label(for='img3', role="button")
                                - var img3 = "/public/images/products/"+productSizes[0].id+"-3.jpg"
                                img(src=img3).img-table.img-thumbnail
                            input(name='img' id='img3' type="file" accept="image/jpeg").d-none
                            input(type="checkbox" name="img3").ml-1
                        td
                            input(value=productSizes[0].title name="title")
                        td
                            textarea(value=productSizes[0].description name="description" rows="4").col-12=productSizes[0].description
        .row.justify-content-center.mt-5
            table.table.col-10
                h2.col-12.text-center Sizes and prices
                thead
                    tr
                    th(scope='col') Size
                    th(scope='col') Price (€)
                    th(scope='col') Stock
                tbody
                    each product in productSizes
                        tr
                        td  #{product.size}
                        td
                            - var price = "price_"+product.size
                            input(type="number" value=product.price name=price)
                        td
                            - var stock = "stock_"+product.size
                            input(type="number" value=product.stock name=stock)
            input(type="submit").btn-lg.btn-primary.col-10.mt-2.mb-5
            script(src="/public/js/editProduct.js")